<!DOCTYPE html>
<html>
    <head>
        <!-- 页面meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>传智健康</title>
        <meta name="description" content="传智健康">
        <meta name="keywords" content="传智健康">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <!-- 引入样式 -->
        <link rel="stylesheet" href="../plugins/elementui/index.css">
        <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <!-- 引入组件库 -->
        <script type="text/javascript" src="../js/jquery.min.js"></script>
        <script src="../js/vue.js"></script>
        <script src="../plugins/elementui/index.js"></script>
        <script src="../js/axios-0.18.0.js"></script>
        <style>
            .datatable {
                position: relative;
                box-sizing: border-box;
                -webkit-box-flex: 1;
                width: 100%;
                max-width: 100%;
                font-size: 14px;
                color: rgb(96, 98, 102);
                overflow: hidden;
                flex: 1 1 0%;
            }
            .datatable td, .datatable th {
                padding: 12px 0;
                min-width: 0;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                text-overflow: ellipsis;
                vertical-align: middle;
                position: relative;
                text-align: left;
            }
        </style>
    </head>
    <body class="hold-transition">
        <div id="app">
            <div class="content-header">
                <h1>日志管理<small>日志数据管理</small></h1>
                <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>日志数据管理</el-breadcrumb-item>
                    <el-breadcrumb-item>日志管理</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="app-container">
                <div class="box">
                    <div class="filter-container">
                        <el-input placeholder="项目编码/项目名称" v-model="pagination.queryString" style="width: 200px;" class="filter-item"></el-input>
                        <el-button @click="findPage()" class="dalfBut">查询</el-button>
                        <el-input placeholder="清除多久之前的数据-分隔" v-model="clearTime" style="width: 200px;" class="filter-item"></el-input>
                        <el-button type="primary" class="butT" @click="clear()">按时间清除</el-button>
                    </div>
                    <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                        <el-table-column type="index" align="center" label="序号"></el-table-column>
                        <el-table-column prop="visitTime" label="访问时间" align="center"></el-table-column>
                        <el-table-column prop="username" label="用户名" align="center"></el-table-column>
                        <el-table-column prop="ip" label="用户ip地址" align="center"></el-table-column>
                        <el-table-column prop="url" label="URL" align="center"></el-table-column>
                        <el-table-column prop="executionTime" label="执行时间" align="center"></el-table-column>
                        <el-table-column prop="method" label="调用" align="center"></el-table-column>


                        <el-table-column label="操作" align="center">
                            <template slot-scope="scope">
                                <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="pagination-container">
                        <el-pagination
                                class="pagiantion"
                                @current-change="handleCurrentChange"
                                :current-page="pagination.currentPage"
                                :page-size="pagination.pageSize"
                                layout="total, prev, pager, next, jumper"
                                :total="pagination.total">
                        </el-pagination>
                    </div>

                </div>
            </div>
        </div>
    </body>

    <script>
        var vue = new Vue({
            el: '#app',
            data:{
                activeName:'first',//添加/编辑窗口Tab标签名称
                pagination: {//分页相关属性
                    currentPage: 1,
                    pageSize:10,
                    total:100,
                    queryString:null,
                },
                permissionData:[],
                clearTime:null,
                userData:{},
                dataList: [],//列表数据
                permissions:[],//权限组
                formData: {},//表单数据
                tableData:[],//新增和编辑表单中对应的检查项列表数据
                checkitemIds:[],//新增和编辑表单中检查项对应的复选框，基于双向绑定可以进行回显和数据提交
                dialogFormVisible: false,//控制添加窗口显示/隐藏
                dialogFormVisible4Edit:false,//控制编辑窗口显示/隐藏
                dialogFormVisible4pression:false,
                dialogFormVisible4user:false,
            },
            created() {
                //this.dialogFormVisible4Edit = true;
                this.findPage();
            },
            methods: {
                //编辑
                handleEdit() {

                },
                //添加
                handleAdd () {

                },
                //分页查询
                findPage() {
                    var params = {
                        currentPage:this.pagination.currentPage,
                        pageSize:this.pagination.pageSize,
                        queryString:this.pagination.queryString
                    }
                    axios.post("/sysLog/findPage.do",params).then((res)=>{
                        this.dataList = res.data.rows;
                        this.pagination.total = res.data.total;
                        this.dataList = res.data.rows;
                    })
                },
                // 重置表单
                resetForm() {
                   this.formData = {};
                },
                // 弹出添加窗口
                handleCreate() {

                },
                // 弹出编辑窗口
                handleUpdate(row) {


                },
                //切换页码
                handleCurrentChange(currentPage) {
                    this.pagination.currentPage = currentPage;
                    this.findPage();
                },
                // 删除
                handleDelete(row) {
                    this.$confirm("确认删除当前选中记录吗？","提示",{type:'warning'}).then(()=>{
                        axios.get("/sysLog/delete.do?id="+row.id).then((res)=>{
                            if(res.data.flag){
                                //删除成功
                                this.$message.success(res.data.message);
                                this.findPage();
                            }else {
                                //失败
                                this.$message.error(res.data.message);
                            }
                        })
                    })
                },
                //按时间删除
                clear(){
                    var clearTime = this.clearTime;
                    axios.get("/sysLog/deleteByTime.do?date="+clearTime).then((res)=>{
                       if(res.data.flag){
                           this.$message.success(res.data.message);
                       }else {
                           this.$message.error(res.data.message);
                       }
                    }).finally(()=>{
                        this.findPage();
                    });

                }

            }
        })
    </script>
</html>
